body{
    font-size:87.5%;
    line-height: 1.8;
}

.img-responsive{
    max-width:100%;
}

#header{
    height:100px;
    border-bottom:1px solid #ddd;
}

#main{
    min-height: 300px;
}

#footer{
    height:60px;
    border-top:1px solid #ddd;
}
